@import 'src/assets/variables';

.empty {
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-title{
    font-weight: 700;
    font-size: 32px;
    color: #000000;
    margin: 0 0 10px 0;
  }

  &-text{
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    color: #777777;
    line-height: 145.4%;
  }

  &-img {
    display: block;
    margin-top: 47px;
    margin-bottom: 74px;
  }
}
