<div class="product-container">
  <img  [src]="card.imageUrl"
        class="product-img">

  <p class="product-title">{{card.title}}</p>

  <div class="switch-container">
    <app-switch [items]="dough" [availableItems]="availableDoughs"></app-switch>
    <app-switch [items]="sizes"
                [availableItems]="card.sizes"
                class="margin-top"></app-switch>
  </div>

  <div class="button-container">
    <p class="price">от {{card.price}}&#8381;</p>
    <app-button [type]="typeButton"
                [textOnButton]="'Добавить '"
                [countGood]="countGood"
                (click)="onAddItem()"
    ></app-button>
  </div>
</div>
