<div class="sort">

  <div class="sort-label">

    <img [ngClass]="{'sort-icon': showSort}"
         src="assets/img/sort.svg">

    <p class="sort-text">Сортировка по:
      <span (click)="showSort = !showSort"
            [innerHTML]="selectedItem.label"
            class="sort-selected"></span>
    </p>
  </div>

  <div *ngIf="showSort"
       class="sort-popup">
    <ul class="sort-list">
      <li *ngFor="let item of items"
          [innerHTML]="item.label"
          (click)="selectItem(item)"
          [ngClass]="{'sort-list-item-active': selectedItem.id === item.id}"
          class="sort-list-item"
      ></li>
    </ul>
  </div>
</div>
