<button type='button'
        class="button"
        (mouseover)="changeIcon()"
        (mouseout)="changeIconBack()"
        [disabled]="disabled"
        (click)="onButtonClick()"
        [ngClass]="{
        'button-primary': type === 'primary',
        'button-secondary': type === 'secondary',
        'button-outline': type === 'outline',
        'button-ghost': type === 'ghost',
        'button-circle': type === 'circle' || type === 'circle-delete',
        'button-circle-delete': type === 'circle-delete',
        'button-add': type === 'add' || type === 'add-count',
        'button-add-wide': type === 'add-count'
        }">
  <span *ngIf='arrowIsShow || basketIsShow'>
    <img [src]="iconSrc">
  </span>
  <span class='plus' *ngIf="type === 'add'|| type === 'add-count'">+&nbsp;</span>
  <span>{{textOnButton}}</span>
  <i *ngIf="type==='add-count'">{{countGood}}</i>
</button>
